/* This is for the navbar class */
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; /* position navbar at top of page */
    width: 100%; /* full page width */

}

/* Links for stuff INSIDE of navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* changes background of a elems when mouse hovers */
.navbar a:hover {
    background:#ddd;
    color: black; 

}

/*style for content in main class */ 
.main{
    margin-top: 20px; /* modify to get rid of that annoying bottom space in the nav bar */
}