:root{
    --menu-transition-delay: .5s;
    --menu-transition-duration: .25s;
    --main-menu-height: 50px;
    --main-menu-level-1-height: 50px;
    --sticky-block-zindex: 1031;
}
body.fixed-main-nav.ArtworkController{
    padding-top: 91px;
    padding-top: var(--main-menu-height);
    letter-spacing: .015em;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #bbb;
    background-color: #171717;
    margin:0;

}

.wrapper{
    min-height: calc(100vh - 91px - 50px);
    min-height: cacl(100vh - var(--main-menu-height) - 50px); 
}

div{
    display: block;
}
html, body{
    height: 100;
}